<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736430793630-evqlv3qq5d14c2ltohe6abhoqs2pu7c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736430793630-evqlv3qq5d14c2ltohe6abhoqs2pu7c1</string>
	<key>API_KEY</key>
	<string>AIzaSyAagmgZuPBIzcHmdCqN7zgKmMCCaCoGrMI</string>
	<key>GCM_SENDER_ID</key>
	<string>736430793630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayu.ue.InstagramMVVM3</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestonetutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestonetutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736430793630:ios:b3674ffb6dc4801ef12c8f</string>
</dict>
</plist>